@media screen and (max-width: 600px) {

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    form {
        width: 100%;
        margin: 1rem auto;
        padding: 1rem;
        border: 1px solid rgba(0 0 0 / 0.1);
        background-color: var(--primary-color);
        display: grid;
    }

}